{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.symbol}}</td>
                <td>{{ purchase.name }}</td>
                <td>{{ purchase.shares }}</td>
                <td>${{ purchase.price }}</td>
                <td>${{ purchase.total }}</td>
            </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td  colspan="4" style="text-align:right;"><b>Cash</b></td>
                    <td><b>${{ cash }}</b></td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:right;"> <b>Total</b></td>
                    <td><b>${{ total }}</b></td>
                </tr>
            </tfoot>
        </tbody>
    </table>

{% endblock %}